{% set title = "패캠이츠 메인" %}
{% extends "layout/client.html" %}
 
{% block content -%}

    <!-- main -->
    <main class="container main">
      <section class="row search">
        <div class="col-xs-12">
          <h2 class="h6 title">주위에 50개의 식당이 있어요</h2>
          <div class="input-group searchInputGroup">
            <label for="searchInput" class="a11y-hidden">식당 검색</label>
            <input type="text" id="searchInput" class="form-control " placeholder="식당이름으로 검색해보세요">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="a11y-hidden">검색하기</span>
              </button>
            </span>
          </div>
          <ul class="hash-tag body2">
            <li><a href="#">#하우스</a></li>
            <li><a href="#">#프로그래밍</a></li>
            <li><a href="#">#교육</a></li>
          </ul>
        </div>
      </section>
      <section class="row map">
        <div class="col-xs-8">
          <h2 class="sub-title1">가까운 음식점</h2>
          <p class="body1">근처에 가까운 음식점이 있어요.</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="pull-right btn btn-point btn-line btn-sm">
            지도에서 보기
          </button>
        </div>
        <div class="col-xs-12">
        <div id ="map_area" style="width:100%;height:350px; margin:10px 0 50px 0;"></div>
        </div>
      </section>
      <section class="row restaurant">
        <div class="col-xs-7 col-xs-offset-5">
        <a id="orderByNear" class="btn btn-link btn-sort
            {% if req_query.lat and req_query.lng %} active {% endif %}
        ">
          <button type="button" class="btn btn-link btn-sort active">
            <i class="fa fa-map" aria-hidden="true"></i>
            <i class="fa fa-arrows-h" aria-hidden="true"></i>
            <span>거리순</span>
          </button>
          <button type="button" class="btn btn-link btn-sort">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span>인기순</span>
          </button>
        </div>
        <div class="col-xs-12">
          <h2 class="a11y-hidden">식당 리스트</h2>
          <ul class="row restaurant-list">
            <li class="col-xs-6">
              <a href="">
                <div class="thumb">
                  <img src="/static/images/thumb.jpg" alt="">
                </div>
                <h3 class="name sub-title2">패캠식당</h3>
                <p class="address body2">미왕빌딩 15층</p>
              </a>
            </li>
            <li class="col-xs-6">
              <a href="">
                <div class="thumb">
                  <img src="/static/images/thumb.jpg" alt="">
                </div>
                <h3 class="name sub-title2">패캠식당</h3>
                <p class="address body2">미왕빌딩 15층</p>
              </a>
            </li>
            <li class="col-xs-6">
              <a href="">
                <div class="thumb">
                  <img src="/static/images/thumb.jpg" alt="">
                </div>
                <h3 class="name sub-title2">패캠식당</h3>
                <p class="address body2">미왕빌딩 15층</p>
              </a>
            </li>
            <li class="col-xs-6">
              <a href="">
                <div class="thumb">
                  <img src="/static/images/thumb.jpg" alt="">
                </div>
                <h3 class="name sub-title2">패캠식당</h3>
                <p class="address body2">미왕빌딩 15층</p>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>
<script>
var shops = {{ shops | dump | safe }};
var positions = {};

window._userGeo = {
  lat : {{ map_api.default.lat }} ,
  lng : {{ map_api.default.lng }}
};

for(var key in shops){
    if(shops[key].geo != null){
        // 좌표가 존재할때만 좌표 셋팅
        positions[key] = {
            id : shops[key].id ,
            name : shops[key].name ,
            lat : shops[key].geo.coordinates[1],
            lng : shops[key].geo.coordinates[0],
        }
    }   
}

var mapContainer = new kakao.maps.Map(
    document.getElementById("map_area"),
    {
        center: new kakao.maps.LatLng( 
          {{ map_api.default.lat }} ,
          {{ map_api.default.lng }} 
        ), // 지도의 중심좌표
        level: 7 // 지도의 확대 레벨
    }
);

// 마커이미지의 주소입니다    
var imageSrc = '/static/images/icon_pointer.png';

// 마커 이미지의 이미지 크기 입니다
var imageSize = new kakao.maps.Size(40, 46); 

// 마커 이미지를 생성합니다    
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 

for( var key in positions ){

  var marker = new kakao.maps.Marker({
    map : mapContainer,
    position : new kakao.maps.LatLng( 
      positions[key].lat , 
      positions[key].lng 
    ),
    image : markerImage
  })

var infowindow = new kakao.maps.InfoWindow({
    content :  `<div style="width:150px;text-align:center;padding:6px 2px;"> \
      <a href="/shops/${positions[key].id}">${positions[key].name}</a>
  </div>`
  })

  infowindow.open( mapContainer, marker )

}

// 좌표이동
mapContainer.setCenter(new kakao.maps.LatLng(
  {{ map_api.default.lat }}, 
  {{ map_api.default.lng }}
));

// geolocation 함수를 사용가능한지 체크
if(navigator.geolocation){

  navigator.geolocation.getCurrentPosition(function(position){

    window._userGeo['lat'] = position.coords.latitude;
    window._userGeo['lng'] = position.coords.longitude;

    mapContainer.setCenter(new kakao.maps.LatLng(
      window._userGeo['lat'] , 
      window._userGeo['lng']
    ));
    
  }, function(err){
    if(err.code==1){
      alert('위치 정보를 허용해주세요.')
    }else if(err.code==2){
      alert('사용할수 없는 위치 입니다.')
    }
  } , { timeout : 3000 });


}else{
  alert('지도 관련 api 를 불러올수 없습니다');
}
$(document).ready(function(){
  $('#orderByNear').click(function(){
    location.href = `/?lat=${window._userGeo.lat}&lng=${window._userGeo.lng}`;
  });
});
</script>
{% endblock %}