{% set title = "Shop : Cart" %}
{% extends "layout/client.html" %}
{% block content -%}
<main class="container">
   <h3 className="page-header" style="margin: 20px 0">장바구니</h3>
   <table class="table table-bordered table-hover">
       <tr>
           <th>메뉴명</th>
           <th>가격</th>
           <th></th>
       </tr>
       {% for key , cart in cartList %}
           <tr>
               <td>{{ cart.name }}</td>
               <td>{{ cart.price }} 원</td>
               <td>
                   <a href="#" 
                   class="deleteCart btn btn-danger" 
                   menu_id="{{key}}">삭제</a>
               </td>
           </tr>
       {% else %}
           <tr>
               <td colspan="3" style="text-align:center">장바구니에 아무것도 안담겼습니다.</td>
           </tr>
       {% endfor %}
   </table>


   <div class="text-center" style="font-size:30px; margin-bottom:20px;">
       결제금액 : <span style="color:red"> {{ totalAmount }} </span> 원
   </div>
   <div class="text-center">
       <a href="/" class="btn btn-default" style="margin-right:10px;">계속쇼핑하기</a>
       <a href="/checkout" class="btn btn-primary">결제하기</a>
   </div>
</main>


<script>
$(document).ready(function() {

    $('.deleteCart').click(function(event){
        event.preventDefault(); //화면 고정
        if(confirm('Do you want to remove it?')){
            var menu_id = parseInt($(this).attr('menu_id')); // get menu id
            //remove item by menu_id

            var cartList = {};
            //get cartList from cookie
            if(getCookie('cartList')){
                //if exists, parse Json

                cartList = JSON.parse(getCookie('cartList'));
                delete cartList[menu_id];
            } 
            //set the new cartlist in the cookie
            setCookieHour('cartList', JSON.stringify(cartList), 3);
            //redirect to cart page
            document.location.href="/cart"; 
        }


    });


});

</script>

{% endblock %}